:root{
    --colorFondo: #d7cbbe;
    --colorNaranjaOscuro: #fd5f16;
    --colorRojo:rgb(238, 77, 77);
    --colorAmarillo:rgb(255, 196, 0);
    --colorVerde: #3c7f72;
    --colorOscuro: #3b3b3b;
    --colorNegro: #282129;
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
/* font-family: 'Berkshire Swash', cursive; */

@font-face{
    font-family: "SodaFountain-inline";
    src:url("../fonts/SodaFountain-Inline.otf") format("opentype");
    font-style: inline;
    font-weight: normal;
}

@font-face {
    font-family: "SodaFountain-regular";
    src: url(../fonts/SodaFountain-Regular.otf) format("opentype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "deftone-stylus";
    src: url("../fonts/deftoneStylus.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0px;
font-size: 16px;
font-family: "SodaFountain-regular";
}

.em, .emojiHeader{
    display: none;
}

body{
    background-color: var(--colorFondo);
    background-image: url(../img/img_fondo/fondo-retro.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: contrast(85%);
}

.container{
    width: 100%;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
/*     background-image: url(../img/logos/logo-retro-no-bg.png);
    background-repeat: no-repeat;
    background-position: 50% 5px;
    background-size: contain; */
}

h1{
    font-family:"deftone-stylus";
    font-size: 50px;
/*     transform: rotateZ(-6.5deg); */
    transform: rotateZ(-4deg);
    text-shadow:
    1px -0.5px var(--colorNegro),
    2px -1px var(--colorNaranjaOscuro),
    3px -1.5px var(--colorNaranjaOscuro),
    4px -2px var(--colorNaranjaOscuro),
    5px -2.5px var(--colorNaranjaOscuro),
    6px -3px var(--colorNaranjaOscuro),
    7px -3.5px var(--colorRojo),
    8px -4px var(--colorRojo),
    9px -4.5px var(--colorNegro),
    -1px 1px var(--colorNaranjaOscuro);
    color: #ffe985;
    padding: 15px;
    font-style: normal;
    filter: blur(0.2px);
}

form{
    margin-left:21%;
    margin-right:22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 1px -0.5px var(--colorNegro);
    padding: 15px 5px;
    border-radius: 5px;
    border: #111111fd 2px solid;
}

.division{
    height: 5px;
}

.datosPersonales{
    background-color: #60a396;
    box-shadow:
    2px -1px var(--colorVerde),
    3px -1.5px var(--colorVerde),
    4px -2px var(--colorVerde),
    5px -2.5px var(--colorVerde),
    6px -3px var(--colorVerde),
    7px -3.5px var(--colorVerde),
    8px -4px var(--colorVerde),
    9px -4.5px var(--colorVerde),
    10px -5px var(--colorVerde),
    11px -5.5px var(--colorVerde),
    12px -6px var(--colorVerde),
    13px -6.5px black,
    14px -7px black;
}

.datosContacto{
    background-color: rgb(211, 70, 77);
    box-shadow:
    2px -1px var(--colorRojo),
    3px -1.5px var(--colorRojo),
    4px -2px var(--colorRojo),
    5px -2.5px var(--colorRojo),
    6px -3px var(--colorRojo),
    7px -3.5px var(--colorRojo),
    8px -4px var(--colorRojo),
    9px -4.5px var(--colorRojo),
    10px -5px var(--colorRojo),
    11px -5.5px var(--colorRojo),
    12px -6px var(--colorRojo),
    13px -6.5px black,
    14px -7px black;
}

.actividades{
    background-color: #ffe055;
    box-shadow:
    2px -1px var(--colorAmarillo),
    3px -1.5px var(--colorAmarillo),
    4px -2px var(--colorAmarillo),
    5px -2.5px var(--colorAmarillo),
    6px -3px var(--colorAmarillo),
    7px -3.5px var(--colorAmarillo),
    8px -4px var(--colorAmarillo),
    9px -4.5px var(--colorAmarillo),
    10px -5px var(--colorAmarillo),
    11px -5.5px var(--colorAmarillo),
    12px -6px var(--colorAmarillo),
    13px -6.5px black,
    14px -7px black;
}

legend{
    width: fit-content;
    margin-left: 0;
    text-align: center;
    padding: 5px 10px;
    border: 2px inset rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
}

    legend span{
        font-size: 20px;
    }

    .datosPersonales legend{
        background-color: #72c4b3;
    }
    .datosContacto legend{
        background-color: rgb(240, 105, 105);
    }
    .actividades legend{
        background-color: #f4f772;
    }

label{
    color: black;
    text-shadow: 0 0 50px white;
    font-size: 16px;
    font-family: 'Berkshire Swash', cursive;
}
